* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
main>h1{
color: white;
font-size: 20px;
}
.piano {
  height: 50%;
  width: 90%;
  display: flex;
  position: relative;
  gap: 3px;
  background-color: black;
  padding: 1px 3px;
   border-radius: 5px;
}

.whitekey {
  height: 100%;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  transition: all ease 0.1s;
   border-radius: 5px;
}

h1 {
  position: absolute;
  text-align: center;
  bottom: 0;
  padding: 1rem;
  font-size: 2rem;
}

.blackkey {
   border-radius: 5px;
  width: 60px;
  height: 250px;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: black;
  color: white;
}

.blackkey:nth-child(2) {
  left: 3%;
}
.blackkey:nth-child(5) {
  left:13%;
}
.blackkey:nth-child(8) {
  left:23%;
}
.blackkey:nth-child(11) {
  left:33%;
}
.blackkey:nth-child(14) {
  left:43%;
}
.blackkey:nth-child(17) {
  left:53%;
}
.blackkey:nth-child(20) {
  left:63%;
}
.blackkey:nth-child(23) {
  left:73%;
}
.blackkey:nth-child(26) {
  left:83%;
}
.blackkey:nth-child(29) {
  left:93%;
}
.active{
  background-color: #ccccccbc;
}